{% extends 'layout.html' %}
{% load static %}
{% block content %}

  <h3>Hi {{request.user.username}}, welcome back to our restaurant! </h3>
  <h5>the last time you connected was before {{request.user.last_login | timesince}} ago </h5>

  <form action="/logout">
    <button type="submit">Logout</button>
  </form>

  <h1> menu </h1>

  <div>
    <a href="/starters">
      <h3>מנות פתיחה</h3>
      <img src="{% static 'starters.jpeg' %}" style="max-width:200px;">
    </a>
  </div>

  <div>
    <a href="/mains">
      <h3>מנות עיקריות</h3>
      <img src="{% static 'mains.jpeg' %}" style="max-width:200px;">
    </a>
  </div>

  <div>
    <a href="/desserts">
      <h3>קינוחים</h3>
      <img src="{% static 'desserts.jpeg' %}" style="max-width:200px;">
    </a>
  </div>

  <div>
    <a href="/drinks">
      <h3>שתיה קלה</h3>
      <img src="{% static 'drinks.jpeg' %}" style="max-width:200px;">
    </a>
  </div>

{% endblock %}
