{% extends 'layout.html' %}
{% load static %}
{% block content %}
  <h1> checkout </h1>

  {% for item in cart_items %}
    <div style="margin: 4px; border:1px solid lightgray; padding: 2px 10px; ">
      <h3>{{ item.dish.name }}</h3>
      <label>₪{{ item.dish.price }}</label>
      <p> {{ item.dish.description }} </p>
      <img src="{% static item.dish.image %}" style="max-width:100px;"> <br/>
    </div>
  {% endfor %}
  <br/>
  <h2>Price</h2>
  <div>
    required to pay: ₪{{sum}}
  </div>

  <h2>Order Details</h2>
  <form action="{% url 'submit-order' %}" method="POST">
    {%csrf_token%}
    <div>
      <div>
        <input type="checkbox" name="is_deliverd" value="True">
        <label for="city">Is Deliverd</label>
      </div>
      <div>
        <input type="text" name="adderss" placeholder="Adderss" maxlength="500"> <br/>
      </div>
      <div>
        <input type="text" name="comment" placeholder="Add Comment" maxlength="1000"> <br/>
      </div>
      <div>
        <label for="datetime">Date and Time:</label>
        <input type="datetime-local" id="datetime" name="datetime" value="now">
      </div>
    </div>
    <button type="submit">Send Details & order</button>
  </form>

{% endblock %}
