{% extends 'layout.html' %}
{% load static %}
{% block content %}

  <h1> Desserts </h1>

  <div>
    <h3>גלידה</h3>
    <label> מחיר: 18₪</label>
    <p>תיאור המנה</p>
    <img src="{% static 'IceCream.jpeg' %}" style="max-width:200px;"> <br/>
    <button type="submit">Add to cart</button>
  </div>

  <div>
    <h3>עוגת גבינה</h3>
    <label> מחיר: 27₪</label>
    <p>תיאור המנה</p>
    <img src="{% static 'CheeseCake.jpeg' %}" style="max-width:200px;"> <br/>
    <button type="submit">Add to cart</button>
  </div>

  <div>
    <h3>עוגת שוקולד</h3>
    <label> מחיר: 27₪</label>
    <p>תיאור המנה</p>
    <img src="{% static 'ChocolateCake.jpeg' %}" style="max-width:200px;"> <br/>
    <button type="submit">Add to cart</button>
  </div>

  <div>
    <h3>קראק פאי</h3>
    <label> מחיר: 40₪</label>
    <p>תיאור המנה</p>
    <img src="{% static 'CrackPai.jpeg' %}" style="max-width:200px;"> <br/>
    <button type="submit">Add to cart</button>
  </div>

{% endblock %}
