{% extends 'layout.html' %}
{% load static %}
{% block content %}

  <h4>Edit Order #{{delivery.order_id}}</h4>

  <form action="/orders/{{delivery.order_id}}/update" method="POST">
    {%csrf_token%}
    <div>
      <label>Address:</label>
      <input type="text" value="{{delivery.address}}" name="address">
    </div>
    <div>
      <label>Comment:</label>
      <input type="text" value="{{delivery.comment}}" name="comment">
    </div>
    <button class="waves-effect waves-light btn-small" type="submit">Update</button>
  </form>

{% endblock %}
