{% extends 'layout.html' %}
{% load static %}
{% block content %}

  <h1> Main dishes </h1>

  <div>
    <h3>MEAL NAME</h3>
    <label>130₪</label>
    <p>תיאור המנה</p>
    <img src="{% static MEAL NAME %}" style="max-width:200px;"> <br/>
    <button type="submit">Add to cart</button>
  </div>

  <div>
    <h3>MEAL NAME</h3>
    <label>78₪</label>
    <p>תיאור המנה</p>
    <img src="{% static MEAL NAME %}" style="max-width:200px;"> <br/>
    <button type="submit">Add to cart</button>
  </div>

  <div>
    <h3>MEAL NAME</h3>
    <label>56₪</label>
    <p>תיאור המנה</p>
    <img src="{% static MEAL NAME %}" style="max-width:200px;"> <br/>
    <button type="submit">Add to cart</button>
  </div>

  <div>
    <h3>MEAL NAME</h3>
    <label>49₪</label>
    <p>תיאור המנה</p>
    <img src="{% static MEAL NAME %}" style="max-width:200px;"> <br/>
    <button type="submit">Add to cart</button>
  </div>

{% endblock %}
