{% extends 'layout.html' %}
{% load static %}
{% block content %}

  <h4>Hi {{request.user.username}}, welcome back to Teloy Restaurant! </h4>
  <h6>the last time you connected was before {{request.user.last_login | timesince}} ago </h6>
  <br>

  <form action="/menu/cart">
    <button style="margin-bottom: 6px;" class="waves-effect waves-light btn-small" type="submit">My Cart</button>
  </form>

  <form action="/orders">
    <button style="margin-bottom: 6px;" class="waves-effect waves-light btn-small" type="submit">My Orders</button>
  </form>

  <form action="/logout">
    <button style="margin-bottom: 6px;" class="waves-effect waves-light btn-small" type="submit">Logout</button>

    {% for category in category_list %}
      <a href="{% url 'show-dishes' id=category.id  %}">
        <h4>{{ category.name|title }}</h4>
        <img src="{% static category.image %}" style="max-width:200px;">
      </a>
    {% endfor %}

{% endblock %}
