{% extends 'layout.html' %}
{% load static %}
{% block content %}
  <div>Deliveries Received</div>

  <a href="{% url 'menu' %}">Back To Menu</a>

  {% for cart,items in carts_and_items.items %}

    <div style="margin: 4px; border:1px solid lightgray; padding: 2px 10px; ">

      <h3>Order Number: {{ cart.id }}</h3>

      {% for item in items %}
      <p> {{ item.dish.description }} </p>
      <img src="{% static item.dish.image %}" style="max-width:100px;"> <br/>
      <label>₪{{ item.dish.price }}</label>
      {% endfor %}

      <h4>{{sum}}</h4>

      <a href="{% url 'show-order' order_id=cart.id %}">Show</a>
      <a href="{% url 'edit-order' order_id=cart.id %}">Edit</a>

    </div>

  {% endfor %}

{% endblock %}


