{% extends 'layout.html' %}
{% load static %}
{% block content %}

<h4>Deliveries Received</h4>
  <a class="waves-effect waves-light btn-small" href="{% url 'menu' %}">Back To Menu</a>

  {% for cart_with_info in carts_with_info %}
    <div style="margin: 4px; border:1px solid lightgray; padding: 2px 10px; ">

      <h5>Order Number: {{ cart_with_info.0.id }}</h5>

      {% for item in cart_with_info.1 %}
        <p> {{ item.dish.description }} </p>
        <img src="{% static item.dish.image %}" style="max-width:100px;"> <br/>
        <p>₪{{ item.dish.price }}</p>
      {% endfor %}

      <div>Total Price: ₪{{cart_with_info.2}}</div>

      <div>
        <a href="{% url 'show-order' order_id=cart_with_info.0.id %}">Show</a>
      </div>

      <div>
        <a href="{% url 'edit-order' order_id=cart_with_info.0.id %}">Edit</a>
      </div>

    </div>
  {% endfor %}

{% endblock %}


