{% extends 'layout.html' %}
{% load static %}
{% block content %}
  <h4>Order #{{delivery.order_id}}</h4>

    {% for item in delivery_items %}
      <p> {{ item.dish.description }} </p>
      <img src="{% static item.dish.image %}" style="max-width:100px;"> <br/>
      <label>Item Price: ₪{{ item.dish.price }}</label>
    {% endfor %}

    <div style="margin-top: 20px;">
      <div>Total Price: {{sum}}</div>
      <div>Address: {{delivery.address}}</div>
      <div>Comment: {{delivery.comment}}</div>
      <div>Order time: {{ delivery.created }} </div>
    </div>

    <a href="{% url 'edit-order' order_id=delivery.order_id %}">Edit</a>

    <form action="/orders">
      <button class="waves-effect waves-light btn-small" type="submit">Back To All Orders</button>
    </form>

  </div>

{% endblock %}
