{% extends 'layout.html' %}
{% load static %}
{% block content %}

  <h1> {{category.name}} </h1>

  {% for dish in dishes %}
    {% if dish.category == category %}
      <div style="margin: 4px; border:1px solid lightgray; padding: 2px 10px; ">
        <h3>{{ dish.name }}</h3>
        <label>₪{{ dish.price }}</label>
        <p> {{ dish.description }} </p>
        <img src="{% static dish.image %}" style="max-width:200px;">
        <br/>
        <form action="{% url 'add-dish-to-cart' %}" method="POST">
          <input type="hidden" name="dish_id" value="{{ dish.id }}">
          {%csrf_token%}
          <select name="amount" class="browser-dafault">
            {% for num in numbers %}
              <option value="{{num}}">{{num}}</option>
            {% endfor %}
          </select>
          <button type="submit">Add to cart</button>
        </form>
      </div>
    {% endif %}
  {% endfor %}

{% endblock %}
