{% extends 'layout.html' %}
{% block content %}
<form action="{% url 'signup' %}" method="POST">
  {%csrf_token%}
  <h1>Here its regular signup</h1>
  <div>
    <input type="text" name="first_name" placeholder="First Name"/>
  </div>
  <div>
    <input type="text" name="last_name" placeholder="Last Name"/>
  </div>
  <div>
    <input type="text" name="username" placeholder="Username"/>
  </div>
  <div>
    <input type="password" name="password" placeholder="Password"/>
  </div>
  <div>
    <input type="text" name="email" placeholder="Email"/>
  </div>
  <button type="submit">Sign Up</button>
</form>
{% endblock %}
