{% extends 'layout.html' %}
{% load static %}
{% block content %}

  <h1> Starters dished </h1>

  <div>
    <h3>סלט אבוקדו ורימונים</h3>
    <label> מחיר: 35₪</label>
    <p>תיאור המנה</p>
    <img src="{% static 'AvocadoSalad.jpeg' %}" style="max-width:200px;"> <br/>
    <button type="submit">Add to cart</button>
  </div>

  <div>
    <h3>אנטי פסטי</h3>
    <label> מחיר: 29₪</label>
    <p>תיאור המנה</p>
    <img src="{% static 'AntiPasti.jpeg' %}" style="max-width:200px;"> <br/>
    <button type="submit">Add to cart</button>
  </div>

  <div>
    <h3>סלט ביצים</h3>
    <label> מחיר: 35₪</label>
    <p>תיאור המנה</p>
    <img src="{% static 'EggSalad.jpeg' %}" style="max-width:200px;"> <br/>
    <button type="submit">Add to cart</button>
  </div>

  <div>
    <h3>כנפיים עוף</h3>
    <label> מחיר: 42₪</label>
    <p>תיאור המנה</p>
    <img src="{% static 'Wings.jpeg' %}" style="max-width:200px;"> <br/>
    <button type="submit">Add to cart</button>
  </div>

{% endblock %}
