{% extends 'layout.html' %}
{% load static %}
{% block content %}

  <h1> Starter Dishes </h1>

  {% for dish in dish_list %}
    <div style="margin: 4px; border:1px solid lightgray; padding: 2px 10px; ">
      <h3>{{ dish.name }}</h3>
      <label>₪{{ dish.price }}</label>
      <p> {{ dish.description }} </p>
      <img src="{% static dish.image %}" style="max-width:200px;"> <br/>
      <form action="">
        <button type="submit">Add to cart</button>
      </form>
    </div>
  {% endfor %}
 {% endblock %}
