{% extends 'layout.html' %}
{% load static %}
{% block content %}

  <h4>All Dishes </h4>

  <div>
    <a href="{% url 'staff-menu' %}">Back to Home Page</a>
  </div>

  <div>
    <a href="{% url 'new-dish' %}">Add Dish</a>
  </div>

  {% for dish in dishes %}

    <div style="margin: 4px; border:1px solid lightgray; padding: 2px 10px; ">

      <h4>Dish Number: {{ dish.id }}</h4>
      <p>Dish Name: {{ dish.name }}</p>
      <p>Dish Price: ₪{{ dish.price }}</p>
      <p>Dish Description: {{ dish.description }}</p>
      <p>Dish Is Gluten Free: {{ dish.is_gluten_free }}</p>
      <p>Dish Is Vageterian: {{ dish.is_vageterian }}</p>
      <p>Dish Category Id: {{ dish.category_id }}</p>

      <div>
        <img src="{% static dish.image %}" style="max-width:200px;">
      </div>

      <a href="{% url 'edit-dish' dish_id=dish.id %}">Edit</a>

      <form action="{% url 'delete-dish' dish_id=dish.id %}" method="POST">
        {% csrf_token %}
        <button type="submit">Delete</button>
      </form>

    </div>

  {% endfor %}

{% endblock %}
