{% extends 'layout.html' %}
{% load static %}
{% block content %}

  <h1>All Orders </h1>

  <a href="{% url 'staff-menu' %}">Back to Home Page</a>

  {% for delivery in deliveries %}

  <div style="margin: 4px; border:1px solid lightgray; padding: 2px 10px; ">

    <h3>Order Number: {{ delivery.order_id }}</h3>
    <p>Adress: {{delivery.address}}</p>
    <p>Comment: {{delivery.comment}}</p>
    <p>Delivered: {{delivery.is_delivered}}</p>

    {% if not delivery.is_delivered %}
      <form action="/orders/{{delivery.order_id}}/mark-as-delivered" method="POST">
        {% csrf_token %}
        <button type="submit">Mark As Delivered</button>
      </form>
    {% endif %}

  </div>

  {% endfor %}

{% endblock %}
