{% extends 'layout.html' %}
{% load static %}
{% block content %}

  <h4>Edit Category</h4>

  <form action="/categories/{{category.id}}/update" method="POST" enctype="multipart/form-data">
    {%csrf_token%}
    <div>
      <label>Name:</label>
      <input type="text" value="{{category.name}}" name="name" >
    </div>
    <div>
      <p>Choose Image:</p>
      <input type="file" value="{{category.image}}" name="image">
    </div>
    <br/>
    <button class="waves-effect waves-light btn-small" type="submit">Update</button>
  </form>

{% endblock %}
