{% extends 'layout.html' %}
{% load static %}
{% block content %}

<h1>Edit Dish</h1>

  <form action="{% url 'update-dish' dish_id=dish.id %}" method="POST" enctype="multipart/form-data">
    <div>
      <input type="text" name="name" value="{{dish.name}}">
    </div>

    <div>
      <input type="text" name="price" value="{{dish.price}}">
    </div>

    <div>
      <input type="text" name="description" value="{{dish.description}}">
    </div>

    <div>
      <input type="file" name="image">
    </div>

    <div>
      <input type="text" name="is_gluten_free" value="{{dish.is_gluten_free}}">
    </div>

    <div>
      <input type="text" name="is_vageterian" value="{{dish.is_vageterian}}">
    </div>

    <div>
      <select name="category_id">
        {% for category in categories %}
          <option value="{{category.id}}">{{category.name}}</option>
        {% endfor %}
      </select>
    </div>

    <button type="submit">Update</button>
    {%csrf_token%}
  </form>

{% endblock %}
